<%- include('includes/head.ejs', {
  username: username, 
  permisos: permisos
}) %>

<br><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <input id="buscar" class="form-control form-control-sm is-info" type="text" placeholder="Buscar a un fan"/><br><br>
    </div>
  </div>
  <div id="respuesta_ajax">
    <div class="row">
      <% if (fans.length < 1) { %>
          <div class="alert alert-info" role="alert">
              No existe el fan.
          </div>
      <% } %>
      <% let columns = 0; %>
      <% for (let fan of fans) { %>
          <% columns++ %>
          <div class="col-md-3 mb-4">
              <div class="card">
                  <img src="uploads/<%= fan.nombre %>" class="card-img-top" alt="Imagen de <%= fan.nombre %>">
                  <div class="card-body">
                      <h5 class="card-title">@<%= fan.nombre %></h5>
                  </div>
              </div>
          </div>
          <% if (columns % 4 == 0) { %>
              </div>
              <div class="row">
          <% } %>
          
      <% } %>
    </div>   
  </div>
  <% if(ultimo_fan != '') { %>
  <div>El último fan es <%- ultimo_fan %>.</div>
  <% } %>
</div>

<script>
const accion_asincrona = () => {
console.log('Buscando...');
const valor_busqueda = document.getElementById('buscar').value;
//función que manda la petición asíncrona
fetch('/buscar/' + valor_busqueda, {
  method: 'GET',
  headers: {
      'Content-Type': 'application/json',
  }
}).then((result) => {
  console.log(result);
  return result.json(); //Regresa otra promesa
}).then((data) => {
  console.log(data);
  let html = '';
  html += `
  <div class="row">`;
  if (data.fans.length < 1) { 
      html += `
      <div class="alert alert-info" role="alert">
          No existe el fan.
      </div>`;
  }
  let columns = 0;
  for (let fan of data.fans) { 
      columns++;
      html += `
      <div class="col-md-3 mb-4">
          <div class="card">
              <img src="uploads/${fan.nombre}" class="card-img-top" alt="Imagen de ${fan.nombre}">
              <div class="card-body">
                  <h5 class="card-title">@${fan.nombre}</h5>
              </div>
          </div>
      </div>`;
      if (columns % 4 == 0) {
          html += `</div>
          <div class="row">`;
      }
  } 
  html += `</div>`;
  //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
  document.getElementById('respuesta_ajax').innerHTML = html;
}).catch(err => {
  console.log(err);
});
};
document.getElementById('buscar').onkeyup = accion_asincrona;
</script>

<%- include('includes/contenido.ejs') %>
<%- include('includes/foot.ejs') %>
