<%- include('includes/head.ejs') %>
<br>
<br>
<div class="input-group flex-nowrap">
  <input type="text" class="form-control" placeholder="Busca a un fan" aria-label="Busca fan" aria-describedby="addon-wrapping">
</div>

<br>
<div class="container">
  <div class="row">
    <% fans.forEach((fan, index) => { %>
      <% if (index % 4 === 0) { %>
        </div><div class="row">
      <% } %>
      <div class="col-md-3">
        <div class="card mb-4">
          <div class="card-body">
            <img src="uploads/<%= fan.nombre %>">
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<% if(ultimo_fan !== '') { %>
  <div class="text-center">El último fan fue <%= ultimo_fan %>.</div>
<% } %>

<%- include('includes/contenido.ejs') %>
<%- include('includes/foot.ejs') %>
